@font-face {
 font-family: 'Nanum Square';
 src: url('//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.eot');
 src: url('//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.eot?#iefix') format('embedded-opentype'),
      url('//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.woff') format('woff'),
      url('//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.ttf') format('truetype');
}

.nanumsquare * {
 font-family: 'Nanum Square', sans-serif;
}

.normal {
 font-style: normal;
}

.w250 {
 font-weight: 250;
}

.w300 {
 font-weight: 300;
}

.w350 {
 font-weight: 350;
}

.w400 {
 font-weight: 400;
}

.w500 {
 font-weight: 500;
}

.w700 {
 font-weight: 700;
}

.w800 {
 font-weight: 800;
}

.w900 {
 font-weight: 900;
}